<main class="list__container">
  <mat-toolbar class="list__toolbar">
    <!-- character species  -->
    <mat-chip-listbox aria-label="State filter" class="list__toolbar__chip">
      <mat-chip-option
        [value]="stateOptions.Alive"
        (selectionChange)="handleSelectionChange($event)"
        >{{ stateOptions.Alive }}
      </mat-chip-option>
      <mat-chip-option
        [value]="stateOptions.Dead"
        (selectionChange)="handleSelectionChange($event)"
        >{{ stateOptions.Dead }}
      </mat-chip-option>
      <mat-chip-option
        [value]="stateOptions.Unknown"
        (selectionChange)="handleSelectionChange($event)"
        >{{ stateOptions.Unknown }}
      </mat-chip-option>
    </mat-chip-listbox>
    <!-- search -->
    <mat-form-field appearance="outline" class="list__toolbar__form">
      <input
        matInput
        [placeholder]="'Search by character name'"
        [(ngModel)]="searchByName"
        (ngModelChange)="onSearch($event)"
      />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <!-- paginator -->
    <mat-paginator
      aria-labelledby="Paginator for character list"
      class="list__paginator"
      [length]="paginatorInfo().length"
      [pageSize]="paginatorInfo().pageSize"
      [pageSizeOptions]="paginatorInfo().pageSizeOptions"
      [pageIndex]="paginatorInfo().pageIndex"
      (page)="onPageChange($event)"
      aria-label="Select page"
    ></mat-paginator>
  </mat-toolbar>
  <mat-grid-list
    class="list"
    rowHeight="175"
    [cols]="cols"
    (window:resize)="setCols()"
  >
    @if (loadingService.getLoadingState()) {
      <mat-spinner mode="indeterminate" class="spinner"></mat-spinner>
    } @else {
      @for (character of characterBank(); track $index) {
        <mat-grid-tile class="list__tile">
          <mat-card class="list__card" appearance="outlined">
            <div class="list__card__image_container">
              <img
                mat-card-image
                [src]="character.image"
                alt="Photo of a Shiba Inu"
              />
            </div>
            <div class="list__card__container">
              <mat-card-content class="list__card__content">
                <mat-card-title>
                  <h3>{{ character.name }}</h3>
                </mat-card-title>
                <span>currently on {{ character.location }}</span>
              </mat-card-content>
              <mat-card-actions class="list__card__actions">
                <button (click)="onOpenDialog(character)" mat-stroked-button>
                  More info
                </button>
              </mat-card-actions>
            </div>
          </mat-card>
        </mat-grid-tile>
      }
    }
  </mat-grid-list>
</main>
