<mat-toolbar class="toolbar">
  <nav class="toolbar__navigation">
    <button
      mat-icon-button
      class="toolbar__menu"
      aria-label="Boton de menu navegacional"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a class="toolbar__logo" routerLink="/home">
      <h1><b>Test</b> app</h1>
    </a>
    <div class="toolbar__search"></div>
  </nav>
  <div class="toolbar__theme">
    <mat-icon
      class="toolbar__theme__icon"
      [class.toolbar__theme__icon--active]="!isDarkThemeSelected()"
      fontIcon="light_mode"
    ></mat-icon>
    <mat-slide-toggle
      hideIcon="true"
      [checked]="isDarkThemeSelected()"
      (change)="toggleTheme()"
    />
    <mat-icon
      class="toolbar__theme__icon"
      [class.toolbar__theme__icon--active]="isDarkThemeSelected()"
      fontIcon="dark_mode"
    ></mat-icon>
  </div>
</mat-toolbar>
<section class="dashboard">
  <mat-drawer-container class="dashboard__container">
    <mat-drawer
      class="dashboard__drawer"
      [mode]="drawerMode"
      (window:resize)="setDrawerMode()"
      opened
    >
      <!-- navigation -->
      <ul>
        <li>
          <a routerLink="/home" routerLinkActive="dashboard__anchor--active">
            <mat-icon fontIcon="home" />
            Home</a
          >
        </li>
        <li>
          <a routerLink="/list" routerLinkActive="dashboard__anchor--active">
            <mat-icon fontIcon="face" />
            Characters</a
          >
        </li>
      </ul>
      <!-- filtering species -->
      @if (isListRouteActive()) {
        <div class="dashboard__drawer__species_filter">
          <div class="dashboard__drawer__species_filter__title">
            Species Filter
          </div>
          <mat-selection-list
            [multiple]="false"
            #species
            (selectionChange)="onListSelectionChange($event)"
          >
            @for (option of speciesList; track $index) {
              <mat-list-option [value]="option">{{ option }}</mat-list-option>
            }
          </mat-selection-list>
        </div>
      }
    </mat-drawer>
    <mat-drawer-content class="dashboard__content">
      <router-outlet />
    </mat-drawer-content>
  </mat-drawer-container>
</section>
