@use "@angular/material" as mat;

.toolbar {
  padding: 3rem 2rem;
  margin-inline: auto;
  @include mat.toolbar-overrides(
    (
      container-background-color: transparent,
    )
  );
  a {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.8;
    color: inherit;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}
.toolbar__navigation {
  margin-left: 2rem;
  display: flex;
  list-style: none;
}
.toolbar__spacer {
  flex: 1 1 auto;
}
.toolbar__theme {
  display: flex;
  align-items: center;

  *:not(:last-child) {
    margin-right: 1rem;
  }
}

.toolbar__theme__icon {
  opacity: 0.2;
}

.toolbar__theme__icon--active {
  opacity: 1;
}

@media (min-width: 62rem) {
  .toolbar {
    max-width: 70%;
  }
}
